[submodule "osg/segment_anything_2"]
	path = osg/segment_anything_2
	url = https://github.com/facebookresearch/segment-anything-2.git
[submodule "seeing-unseen"]
	path = seeing-unseen
	url = https://github.com/Ram81/seeing-unseen.git
