[submodule "seeing-unseen"]
	path = seeing-unseen
	url = https://github.com/Ram81/seeing-unseen.git
[submodule "osg/segment-anything-2"]
	path = osg/segment-anything-2
	url = https://github.com/ahmedjaafar6/segment-anything-2.git
